<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 mt-5 p-5">
            <h2 class="text-center pt-4"><b>Shope Users Details</b></h2>
            <table class="table mt-5 text-center">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Shope User ID</th>
                        <th scope="col">Shope Name</th>
                        <th scope="col">Shope Mail address</th>
                        <th scope="col">Shope Password <b><i>(Encripted)</i></b></th>
                        <th scope="col">Remove/Admit Users</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sp}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{this._id}}</td>
                        <td>{{this.sname}}</td>
                        <td>{{this.semail}}</td>
                        <td>{{this.spassword}} </td>
                        <td>
                            <a href="/admin/removerequest?id={{this._id}}" class="btn btn-outline-danger"
                                onclick="return confirm('Are you sure to deletee this Shope User???')">&#10006;
                                Remove</a>

                            <form action="/admin/shopesignup?id={{this._id}}" method="post" class="mt-2">
                                <div class="form-group" style="display: none;">
                                    <label for="exampleInputEmail1">Shope Name</label>
                                    <input type="text" name="sname" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" value="{{this.sname}}">

                                </div>
                                <div class="form-group" style="display: none;">
                                    <label for="exampleInputEmail1">Shope Mailaddress</label>
                                    <input type="email" name="semail" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" value="{{this.semail}}">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" name="spassword" class="form-control"
                                        id="exampleInputPassword1" value="{{this.spassword}}">
                                </div>
                                

                                <button type="submit" class="btn btn-outline-success" style="display: inline;">&#10004
                                    Accept..</button>


                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>