<div class="container-fluid">
    <div class="row">
        
            <div class="col-md-12 mt-5 p-5">
                <h2 class="text-center pt-4"><b>Products Details</b></h2>
                <table class="table mt-5 text-center">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Product Discription</th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Shop Name</th>
                            <th scope="col">Shop Mail Address</th>
                            <th scope="col">Remove Products</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pro}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{this.pro.pname}}</td>
                                <td>{{this.pro.pprice}}</td>
                                <td>{{this.pro.pdiscription}}</td>
                                <td><img src="/shope-image/{{this._id}}.jpg" style="width: 200px;" height="200px" alt=""></td>
                                <td>{{this.shops.sname}}</td>
                                <td>{{this.shops.semail}}</td>
                                <td>
                                    <a href="/admin/removepro?id={{this._id}}" class="btn btn-outline-danger mt-5" onclick="return confirm('Are you sure to deletee this product???')">Remove</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            
        </div>
    </div>
</div>